:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #364862;
  background-color: #959EAB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --royal-blue: #0F10BA;
  --warm-blue: #4956D1;
  --warm-blue-2: #4F50DE;
  --warm-blue-3: #5757CE;
  --periwinkle: #8181D6;
  --periwinkle-light: #B7B7EA;
  --sky: #4A90E2;
  --duck: #E5F2FA;
  --duck-grey-blue: #364862;
  --slate: #546673;
  --steel: #738091;
  --blue-grey: #90A1B8;
  --cool-grey: #959EAB;
  --silver: #D5D9DE;
  --silver-2: #D4D4DD;
  --pale-grey: #DBE2E8;
  --pale-grey-2: #EAEEFA;
  --pale-grey-3: #EDF0F3;
  --marble: #EAEAEA;
  --marble-2: #FBFBFB;
  --white: #ffffff;

  /* Colores estados tarjetas */
  --pastel-green: #E8F0D2;
  --pastel-green-2: #C5ECD9;
  --pastel-yellow: #FFE6B7;
  --pastel-red: #FFCDCD;

}

html {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 320px;
  min-height: 100vh;
  padding: 15px 20px;
  width: 100%;
  overflow: hidden;
}

.header {
  background-color: var(--marble-2);
  padding: 8px 12px;
  border-radius: 10px;
}

.calendario-semana {
  display: flex;
  flex: 1 1 auto;
  overflow-x: scroll;
  padding: 14px 0;
}