<style>
  h1 {
    padding: 0 10px;
  }
  .components-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px 15px;
  }
</style>

<h1>Components list</h1>
<div class="components-list">
  <!-- ACCORDION -->
  <wc-accordion>
    <span slot="title">Accordion</span>
    <div slot="content">
      <h3>Description</h3>
      div
      <p>Content</p>
      <h3>Example</h3>
      <wc-accordion>
        <span slot="title">Title example</span>
        <span slot="content">Content example</span>
      </wc-accordion>
    </div>
  </wc-accordion>
  <!-- POPOVER -->
  <wc-accordion>
    <span slot="title">Popover</span>
    <span slot="content">
      <simple-popover placement="bottom">
        <div slot="trigger">
          <button>Haz hover aquí</button>
        </div>
        <p>Este es el contenido del popover.</p>
      </simple-popover>
    </span>
  </wc-accordion>
  <!-- LOGIN -->
  <wc-accordion>
    <span slot="title">Login button</span>
    <span slot="content">
      <wc-login></wc-login>
    </span>
  </wc-accordion>
  <!-- MODAL -->
  <wc-accordion>
    <span slot="title">Modal</span>
    <span slot="content">
      <wc-modal id="custom-modal">
        <!-- Si ponemos esto saldrá imagen en la izquierda <div slot="image"></div> -->
        <div slot="image" class="modal-img-lateral" style="background-image: url('https://www.adtaller.com/3df0b1be0d04a2cb3c7c.png');"></div>
        <div slot="header">
        <h3 class="secondary">🔍 Necesitamos algunos datos para continuar</h3>
        <p style="margin-left: 30px;">Nos pondremos en contacto lo antes posible.</p>
        </div>

        <form id="contact-form" slot="body" class="modal-body">
        <div class="fila">
            <div class="columna">
                <label class="form-label" for="nombre">Nombre</label>
                <input id="nombre" class="form-input" type="text">
            </div>
            <div class="columna">
                <label class="form-label" for="apellidos">Apellidos</label>
                <input id="apellidos" class="form-input" type="text">
            </div>
        </div>

        <div class="fila">
            <div class="columna">
                <label class="form-label" for="nombreTaller">Nombre taller *</label>
                <input id="nombreTaller" class="form-input" type="text" required>
            </div>
            <div  class="columna">
                <label class="form-label" for="provincia">Provincia *</label>
                <input id="provincia" class="form-input" type="text" required>
            </div>
        </div>

        <div class="fila">
            <div  class="columna">
                <label class="form-label" for="telefono">Teléfono *</label>
                <input id="telefono" class="form-input" type="text" required>
            </div>
            <div  class="columna">
                <label class="form-label" for="email">Email *</label>
                <input id="email" class="form-input" type="text" required>
            </div>
        </div>

        <div class="fila">
            <div class="columna" >
                <label class="form-label" for="mensaje">Mensaje:</label>
                <input id="mensaje" class="form-input long" type="text">
            </div>
        </div>
        </form>

        <div slot="footer" class="modal-footer">
            <label class="form-checkbox">
                <input id="politicaCheck" type="checkbox" required>
                <span> He leído y acepto la
                <span><a href="https://static.adparts.com/privacidad.html" target="_blank">política de privacidad</a></span>
            </label>
        <button type="submit" form="contact-form" class="btn btn-primary">Solicitar información</button>
        <div id="recaptcha-badge">
            This site is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and
            <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
        </div>
        </div>
      </wc-modal>
      <button id="open-button">Abrir Modal</button>
    </span>
  </wc-accordion>
  <!-- TOGGLE -->
    <wc-accordion>
        <span slot="title">Toggle</span>
        <span slot="content">
            <wc-toggle-text left-label="Latest" right-label="Popular"></wc-toggle-text>
        </span>
    </wc-accordion>
  <!-- RADIO BUTTONS -->
    <wc-accordion>
        <span slot="title">Radio Buttons</span>
        <span slot="content">
            <wc-radio options="JS, React, Svelte" selected="React"></wc-radio>
        </span>
    </wc-accordion>

    <!-- TESTIMONIALS -->
    <div class="flex" style="flex-direction: column;">
        <h3 slot="title">Testimonials</h3>
        <wc-testimonials></wc-testimonials>
    </div>

    <!-- TESTIMONIALS -->
     <div class="flex" style="flex-direction: column; gap: 10px; width: 300px;">
        <h3 slot="title">Toast system</h3>
        <button id="show-success-toast-btn" class="btn">Show Success Toast</button>
        <button id="show-error-toast-btn" class="btn">Show Error Toast</button>
        <button id="show-warning-toast-btn" class="btn">Show Warning Toast</button>
    </div>
</div>
